body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
#pages {
	position: relative;
	width: 100%;
	padding-top: 20px;
}
.main {
	width: 100%;
	display: block;
}
.big {
	width: 100%;
	display: none;
}
.buttonDiv {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin-bottom: 200px;
}
.next {
	position: absolute;
	width: 15%;
	left: 80%;
	}
.next:hover {
	width: 16%;
}
.back {
	position: absolute;
	width: 15%;
	left: 7%;
}
.back:hover {
	width: 16%;
}
@media only screen and (min-width: 600px) {
	.main {
		display: none;
	}
	#pages {
	position: relative;
	width: 100%;
}
section {
	position: relative;
	margin-bottom: 200px;
}
	.big {
		display: block;
		width: 100%;
	}
	.buttonDiv {
		position: absolute;
		top: 50%;
		max-width: 100%;
	}
	.next, .back {
		width: 5%;
	}
	.next {
		left: 90%;
	}
	.next:hover {
        width: 6%;
	}
	.back:hover {
		width: 6%;
	}
	.page1 {
		position: relative;
	}
	.page1 h3 {
		position: absolute;
		top: 30%;
		left: 30%;
		color: white;
		font-size: 3rem;
	}
	.page1 p {
		position: absolute;
		top: 55%;
		left: 30%;
		color: white;
		font-size: 2rem;
	}
	.page2 {
		position: relative;
	}
	.page2 p {
		position: absolute;
		top: 5%;
		left: 50%;
		color: white;
		font-size: 1.5rem;
		margin-right: 100px;
		background-color: rgba(192, 192, 192, 0.5);
	}
	.page3 {
		position: relative;
	}
	.page3 p {
		position: absolute;
		top: 5%;
		left: 10%;
		color: white;
		font-size: 1.5rem;
		margin-right: 100px;
		background-color: rgba(192, 192, 192, 0.5);
	}
	.page4 {
		position: relative;
	}
	.page4 p {
		position: absolute;
		color: white;
		font-size: 1 rem;
		background-color: rgba(192, 192, 192, 0.5);
	}
	#p1 {
		top: 5%;
		left: 5%;
		margin-right: 200px;
	}
	#p2 {
		top: 68%;
		left: 5%;
		margin-right: 5%;
	}
}
@media only screen and (min-width: 1000px) {
	h3, p {
		font-size: 2rem;
	}
}
