body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
#pages {
	position: relative;
	width: 100%;
	max-width: 600px;
	padding-top: 8px;
}
.main {
	width: 100%;
}
.buttonDiv {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin-bottom: 200px;
}
.next {
	position: absolute;
	width: 15%;
	left: 80%;
	}
.next:hover {
	width: 16%;
}
.back {
	position: absolute;
	width: 15%;
	left: 7%;
}
.back:hover {
	width: 16%;
}

